{
	"rules": {
		"eqeqeq": "error",
		"prettier/prettier": "off",
		"consistent-return": "error",
		"semi": "warn"
	},
	"parserOptions": {
		"sourceType": "module",
		 "ecmaFeatures": { "jsx": true }
	}
}
